repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.10 # pyproject.tomlのruffバージョンと合わせる
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        args: [--check]
